<header>
  <!-- Nav Bar -->
  <nav id="navbar" class="navbar navbar-light navbar-expand-sm {% if site.navbar_fixed %}fixed-top{% else %}sticky-top{% endif %}" role="navigation">
    <div class="container">
      {% if page.permalink != '/' %}
        <a class="navbar-brand title font-weight-lighter" href="{{ site.baseurl }}/">
          {% if site.title == 'blank' %}
            {% if site.first_name %}
              <span class="font-weight-bold">
                {{- site.first_name -}}
              </span>
            {% endif %}
            {% if site.middle_name %}
              {{- site.middle_name -}}
            {% endif %}
            {% if site.last_name %}
              {{- site.last_name -}}
            {% endif %}
          {% else %}
            {{- site.title -}}
          {% endif %}
        </a>
      {% elsif site.enable_navbar_social %}
        <!-- Social Icons -->
        <div class="navbar-brand social">{% social_links %}</div>
      {% endif %}
      <!-- Navbar Toggle -->
      <button
        class="navbar-toggler collapsed ml-auto"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>

      <div class="collapse navbar-collapse text-right" id="navbarNav">
        <ul class="navbar-nav ml-auto flex-nowrap">
          {% assign current_page = page %}
          {% assign about_page = site.pages | where: "permalink", "/" | first %}
          {% assign teaching_page = site.pages | where: "permalink", "/teaching/" | first %}
          {% assign grants_page = site.pages | where: "permalink", "/grants/" | first %}
          {% assign services_page = site.pages | where: "permalink", "/services/" | first %}
          {% assign group_page = site.pages | where: "permalink", "/group/" | first %}
          {% assign publications_page = site.pages | where: "permalink", "/publications/" | first %}

          <li class="nav-item {% if current_page.permalink == '/' %}active{% endif %}">
            <a class="nav-link" href="{{ '/' | relative_url }}">
              {{- about_page.title }}
              {% if current_page.permalink == '/' %}
                <span class="sr-only">(current)</span>
              {% endif %}
            </a>
          </li>

          {% if teaching_page %}
            <li class="nav-item {% if current_page.url contains teaching_page.permalink %}active{% endif %}">
              <a class="nav-link" href="{{ teaching_page.url | relative_url }}">
                {{- teaching_page.title }}
                {% if current_page.url contains teaching_page.permalink %}
                  <span class="sr-only">(current)</span>
                {% endif %}
              </a>
            </li>
          {% endif %}

          {% if grants_page %}
            <li class="nav-item {% if current_page.url contains grants_page.permalink %}active{% endif %}">
              <a class="nav-link" href="{{ grants_page.url | relative_url }}">
                {{- grants_page.title }}
                {% if current_page.url contains grants_page.permalink %}
                  <span class="sr-only">(current)</span>
                {% endif %}
              </a>
            </li>
          {% endif %}

          {% if services_page %}
            <li class="nav-item {% if current_page.url contains services_page.permalink %}active{% endif %}">
              <a class="nav-link" href="{{ services_page.url | relative_url }}">
                {{- services_page.title }}
                {% if current_page.url contains services_page.permalink %}
                  <span class="sr-only">(current)</span>
                {% endif %}
              </a>
            </li>
          {% endif %}

          {% if group_page %}
            <li class="nav-item {% if current_page.url contains group_page.permalink %}active{% endif %}">
              <a class="nav-link" href="{{ group_page.url | relative_url }}">
                {{- group_page.title }}
                {% if current_page.url contains group_page.permalink %}
                  <span class="sr-only">(current)</span>
                {% endif %}
              </a>
            </li>
          {% endif %}

          {% if publications_page %}
            <li class="nav-item {% if current_page.url contains publications_page.permalink %}active{% endif %}">
              <a class="nav-link" href="{{ publications_page.url | relative_url }}">
                {{- publications_page.title }}
                {% if current_page.url contains publications_page.permalink %}
                  <span class="sr-only">(current)</span>
                {% endif %}
              </a>
            </li>
          {% endif %}
          {% if site.search_enabled %}
            <!-- Search -->
            <li class="nav-item">
              <button id="search-toggle" title="Search" onclick="openSearchModal()">
                <span class="nav-link">ctrl k <i class="fa-solid fa-magnifying-glass"></i></span>
              </button>
            </li>
          {% endif %}
          {% if site.enable_darkmode %}
            <!-- Toogle theme mode -->
            <li class="toggle-container">
              <button id="light-toggle" title="Change theme">
                <i class="fa-half-sun-moon" id="light-toggle-system"></i>
                <i class="fa-solid fa-moon" id="light-toggle-dark"></i>
                <i class="fa-solid fa-sun" id="light-toggle-light"></i>
              </button>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  {% if site.enable_progressbar %}
    <!-- Scrolling Progress Bar -->
    <progress id="progress" value="0">
      <div class="progress-container">
        <span class="progress-bar"></span>
      </div>
    </progress>
  {% endif %}
</header>
